.history-menu {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: white;
    margin-bottom: 16px;
}

.history-menu-link {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.115em;
    color: var(--text-color);
    padding: 16px 0;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}

.container-item nav {
    display: flex;
    position: relative;
}

.container-item nav label {
    position: relative;
    cursor: pointer;
    z-index: 3;
}

.container-item nav .tab {
    position: absolute;
    height: 100%;
    width: 20%;
    left: 0;
    bottom: 0;
    background-color: var(--heavyblue-color);
    z-index: 1;
    transition: 0.6s ;
}


.container-item nav #all:checked ~ label.all,
.container-item nav #in_cart:checked ~ label.in_cart,
.container-item nav #on_shipping:checked ~ label.on_shipping,
.container-item nav #shipped:checked ~ label.shipped,
.container-item nav #cancelled:checked ~ label.cancelled {
    color: white;
}

.container-item nav #all:checked ~ .tab {
    width: 18%;
}

.container-item nav #in_cart:checked ~ .tab {
    left: 18%;
    width: 28%;
}
.container-item nav #on_shipping:checked ~ .tab {
    left: 46%;
    width: 18%;
}
.container-item nav #shipped:checked ~ .tab {
    left: 64%;
    width: 18%;
}
.container-item nav #cancelled:checked ~ .tab {
    left: 82%;
    width: 18%;
}


.container-item nav input {
    display: none;
}